{
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "components": "./components",
          "styles": "./styles",
          "utils": "./utils"
        },
        "cwd": "babelrc"
      }
    ]
  ],
  "presets": ["next/babel"]
}
